# ignore outputs of simulation script
simulated_data/
scripts/*sh.e*
scripts/*sh.o*

# ignore all matrix files (these are data files)
*.mtx
*.mtx.gz
*.h5
*.csv

# ignore all rds files
*.rds

# ignore all ipynb checkpoints
.ipynb_checkpoints

# ignore all plots
*.tiff
*.png
*.pdf
