simulated_data/
scripts/*sh.e*
scripts/*sh.o*
notebooks/.ipynb_checkpoints

# ignore all matrix files (these are data files)
*.mtx
*.mtx.gz
*.h5
*.csv

# ignore all ipynb checkpoints
.ipynb_checkpoints

# ignore all plots
*.tiff